.principal {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

.conteudo {
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #CCC;
  display: inline-block;
}

.titulo {
  border-bottom: 1px solid black;
  padding: 8px;
  margin-bottom: 12px;
  background-color: #EEE;
  border-radius: 8px 8px 0 0;
}